{% load static %}
<!DOCTYPE html>
<html lang="it-IT">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />

    <!-- ---------- GENERAL CSS ---------- -->
    <link href="{% static 'css/font.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/partials/footer.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/partials/navbar.css' %}" rel="stylesheet" type="text/css" />
    {% block extra_css %}{% endblock %}

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}" />
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/png">
    <link rel="apple-touch-icon" href="{% static 'images/logo.png' %}">

    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Organization",
          "name": "Margherita Poli",
          "url": "https://www.margheritapoli.com/",
          "logo": "https://www.margheritapoli.com/static/images/logo.png",
          "image": "https://www.margheritapoli.com/static/images/logo.png"
        }
    </script>

    <title>{% block title %}Margherita Poli{% endblock %}</title>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8RJNDZHH6C"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-8RJNDZHH6C');
    </script>

  </head>

  <body class="{% block body_class %}{% endblock %}">
    <!-- ---------- GENERAL NAVBAR ---------- -->
    {% include 'margherita_poli/partials/navbar.html' %}

    <!-- ---------- GENERAL MAIN ---------- -->
    <main class="main-content">{% block content %}{% endblock %}</main>

    <!-- =========== overlay fuori dal main,
                      per coprire tutta la pagina =========== -->
    <div class="p-overlay"></div>

    <!-- ---------- GENERAL FOOTER ---------- -->
    {% include 'margherita_poli/partials/footer.html' %}

    <!-- ---------- GENERAL JAVASCRIPT ---------- -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.10.2/lottie.min.js"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/partials/navbar.js' %}"></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>
