{% extends "margherita_poli/base_artist.html" %} 
{% load static %} 
{% load i18n %}
{% block extra_css %} {{ block.super }}
<link href="{% static 'css/illustrator.css' %}" rel="stylesheet" type="text/css" />
{% endblock %} {% block title %}Margherita Poli | {% trans "Illustrazioni" %}{% endblock %}

<!-- ========== CLASSE DIVERSA DA BASE.HTML ========== -->
{% block body_class %}body-illustrator{% endblock%}

<!-- ============= illustrazioni caricate da database ============== -->

{% block artist_content%}
<div class="i-content">
  {% for illustrate in illustration %}
  <div class="i-content__img">
    <img class="i-content__openModal" src="{{ illustrate.thumb.url }}" alt="" data-src="{{ illustrate.image.url }}" />
  </div>

  {% endfor %}
  <!-- fine ciclo for -->
</div>
<div class="i-overlay"></div>
<div class="i-modal">
  <div class="i-modal__content">
    <img class="i-modal__content-img" src="" alt="" />
  </div>
</div>
{% endblock artist_content%}

<!-- ========== javascript ========== -->
{% block extra_js %} {{ block.super }}
<script src="{% static 'js/illustrator.js' %}"></script>
{% endblock %}
