# ---- Sistema operativo ----
.DS_Store

# ---- Python ----
__pycache__/
*.py[cod]
*.pyo

# ---- Virtualenv ----
ll_env/
venv/

# ---- Variabili ambiente ----
.env

# ---- Django ----
db.sqlite3
media/
staticfiles/

# cache immagini (sul server le ricarichi)
CACHE/

# ---- Certificati locali ----
cert.pem
key.pem

# ---- Log ----
*.log

# ---- File grossi/temporanei ----
*.zip
