.a-header {
	width: fit-content;
	max-width: 80%;
	margin: 0 auto;
	text-align: center;
}

.a-header__title {
	margin-block: 50px 20px;
	font-size: clamp(40px, 6vw, 60px);
	color: var(--color-primary);
}

.a-header__content {
	width: fit-content;
	max-width: 100%;
}

.a-header__content-item {
	display: inline-block;
	position: relative;
	margin: 0 clamp(15px, 3vw, 40px);
	text-decoration: none;
	font-size: clamp(15px, 3vw, 18px);
	color: var(--color-primary);
}
.a-header__content-item:first-child {
	margin-left: 0;
}
.a-header__content-item:last-child {
	margin-right: 0;
}
.a-header__content--active {
	font-weight: 550;
}
.a-header__content--disable {
	opacity: 0.6;
	transition: opacity 0.3s ease;
}
.a-header__content--disable:hover {
	opacity: 1;
}

.a-header__content--disable::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1.5px;
	background: var(--color-primary);
	transform: scaleX(0);
	transform-origin: center;
	transition: transform 0.3s ease;
}
.a-header__content--disable:hover::after {
	transform: scaleX(1);
}

.a-header__item {
	width: clamp(320px, 30vw, 420px);
	margin-block: 30px;
	margin-inline: auto;
	color: aliceblue;
}