:root {
  --color-primary: #003049;
  --color-secondary: #f1f1f1;
  --background-primary: #003049;
  --background-secondary: #f5f7fa;
  --background-tertiary: #accde1;
  --font-primary: "EBGaramond";
  --font-secondary: "Lato";
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--background-primary);
}

.main-content {
  flex: 1;
  background-color: var(--background-secondary);
}
