.body-exhibitions {
  position: relative;
  background-color: var(--background-primary);
}
/* ========== esposizione in corso ========== */
.e-progress {
  position: relative;
  width: 100%;
  margin: auto;
  margin-top: 80px;
}
.e-progress__event {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin: auto;
  text-align: center;
  padding: 15px 30px;
  background-color: var(--background-secondary);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  z-index: 11;
}
.e-progress__event-title {
  color: #C92C49;
  font-family: var(--font-primary);
  font-weight: 550;
  font-size: 2rem;
  margin-bottom: 5px;
}
.e-progress__event-desc {
  color: #C92C49;
  font-family: var(--font-primary);
}
.e-progress__event-desc a {
  text-decoration: none;
  color: #C92C49;
  font-family: var(--font-primary);
  border-bottom: 1.5px solid #C92C49;
}
.e-progress__style {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100%;
  max-width: 700px;
  height: 60px;
  background-color: #D74761;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
/* ========== descrizione esposizione ========== */
.e-event {
  width: 100%;
  padding-left: 10px;
  margin-top: 50px;
}
.e-event__content {
  width: fit-content;
  padding: 10px 20px;
  text-align: center;
}
.e-event__content-title {
  position: relative;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 5px;
  color: var(--color-primary);
  background: var(--background-secondary);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  z-index: 22;
}
.e-event__content-desc {
  position: relative;
  margin-top: -30px;
  margin-left: 20px;
  max-width: 500px;
  color: var(--color-secondary);
  padding: 5px 10px;
  padding-block: 50px 20px;
  padding-inline: 20px;
  border-radius: 5px;
  background-color: var(--background-primary);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  text-align: justify;
  z-index: 11;
}
/* ========== immagini evento ========== */
.e-gallery {
width: 100%;
margin-top: 40px;
}
.e-gallery__content {
  width: 90%;
  margin-inline: auto;
  max-width: 1100px;
  overflow: hidden;
  padding: 10px 20px;
  background-color: var(--background-tertiary);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.e-gallery__content-images {
  width: 100%;
  height: 100%;
  max-height: 300px;
  display: flex;
  gap: 20px;
  overflow-x: scroll;
}
.e-gallery__content-modal {
  width: auto;
  max-width: 300px;
  height: auto;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.e-gallery--last {
  padding-bottom: 150px;
}

/* ============ OPEN MODAL =========== */
.e-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  z-index: 55;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.e-overlay.active {
  opacity: 1;
  visibility: visible;
}
.e-modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  margin: auto;
  margin-top: 70px;
  z-index: 66;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.e-modal.active {
  opacity: 1;
  visibility: visible;
}
.e-modal__content {
  height: auto;
  width: fit-content;
  margin: auto;
  padding: 0px;
}
.e-modal__content img {
  width: auto;
  max-width: 80dvw;
  height: auto;
  max-height: 80dvh;
  border-radius: 10px;
  cursor: pointer;
  padding: 0px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25), /* ombra leggera sotto */ 0 1px 3px rgba(0, 0, 0, 0.12); /* dettaglio soft */
}