/* EB Garamond Variable */
@font-face {
  font-family: "EBGaramond";
  src: url("/static/fonts/EBGaramond-VariableFont_wght.woff2") format("woff2"),
       url("/static/fonts/EBGaramond-VariableFont_wght.woff") format("woff"),
       url("/static/fonts/EBGaramond-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Lato Regular */
@font-face {
  font-family: "Lato";
  src: url("/static/fonts/Lato-Regular.woff2") format("woff2"),
       url("/static/fonts/Lato-Regular.woff") format("woff"),
       url("/static/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}