@font-face {
    font-family: 'EBGaramond';
    src: url('../fonts/EBGaramond-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}

body {
    width: 100dvw;
    background: #f5f7f5;
    font-family: 'EBGaramond';
}

.overlay {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 600px;
    max-height: 600px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.close-btn {
    margin-top: 15px;
    padding: 8px 12px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.close-btn:hover {
    background: #0056b3;
}

.paintings {
    margin: 0 40px;
}

.section-images:last-child {
  padding-bottom: 20px;
}

.section-images {
    display: flex;
    gap: 20px;
    margin: 0 20px;
    max-height: 300px;
    justify-content: center;
}

.image {
    display: inline-block;
    flex: 1 1 auto;
    gap: 20px;
    flex-direction: column;
    text-align: center;
}

.image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    object-fit: contain;
    cursor: pointer;
    box-shadow: 0 0 10px black;
}

.brand {
    text-align: center;
    font-size: clamp(2rem, 6vw, 4rem); 
    white-space: nowrap;
    margin: 0;
}

.brand a {
    text-decoration: none;
    color: black;
}

.hr1 {
    width: 50%;
}

.sections {
    display: flex;
    justify-content: center;
}

.sections p {
    padding: 0 30px;
    font-size: clamp(1rem, 2vw, 20px);
}

.sections a {
    position: relative;          /* serve per posizionare l'::after */
    text-decoration: none;
    color: black;
}

.sections a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;                /* spessore del bordo */
  width: 0;                    /* parte da zero */
  background-color: black;
  transition: width 0.5s ease; /* animazione smooth */
}

.sections a:hover::after {
  width: 100%;                 /* arriva fino alla fine del testo */
}

.section {
    padding: 20px 0;
    text-align: center;
    background-color: #f5f5f5
}
