
<!-- -------- NAVIGAZIONE SOCIAL MEDIA -------- -->
<div class="social oc">
    <!-- Facebook -->
    <a href="https://www.facebook.com/margherita.poli.perla?locale=it_IT" target="_blank">
    <div class="lottie-icon fb" data-json="{% static 'icons/facebook4.json' %}">
    </div></a>
    <!-- Instagram -->
    <a href="https://www.instagram.com/margherita.poli.perla/" target="_blank">
    <div class="lottie-icon ig" data-json="{% static 'icons/instagram.json' %}">
    </div></a>
    <!-- SuperProf -->
    <a href="https://www.superprof.it/laureata-lettere-classiche-disponibile-per-lezioni-greco-latino-online-presenza-citta-parma-sant-ilario-enza.html" target="_blank">
    <div class="lottie-icon sp" data-json="{% static 'icons/superprof.json' %}">
    </div></a>
</div>
