:root {
  --color-primary: #003049;
  --color-secondary: #f1f1f1;
  --background-primary: #003049;
  --background-secondary: #f5f7fa;
  --background-tertiary: #accde1;
  --font-primary: "EBGaramond";
  --font-secondary: "Lato";
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--background-secondary);
    width: 100%;
    height: 100dvh;
}
.p-container {
    width: 100%;
    height: 100%;
    margin-top: 100px;
    display: flex;
    gap: 100px;
    flex-direction: column;
    align-items: center;
}
.p-container__title {
    color: var(--color-primary);
    font-family: var(--font-primary);
    font-size: 3rem;
    font-weight: 450;
    white-space: nowrap;
    letter-spacing: 1.5px;
}
.p-content {
    height: 300px;
    width: 500px;
    max-width: 90%;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding-block: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.p-content__title {
    flex: 1 1 auto;
    text-align: center;
    color: var(--color-primary);
    font-family: var(--font-primary);
    font-size: 3rem;
}
.p-content__form-login {
    flex: 1 1 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}
.p-campi {
    margin-block: auto;
    margin-inline: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    overflow-y: hidden;
}
.p-campo {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--color-primary);
}
.p-campo label {
  font-size: 1.2rem;
}
.p-campo input {
  border: 1px solid var(--color-primary);
  border-radius: 2px;
  height: 30px;
  padding-inline: 5px;
  color: var(--color-primary);
  font-family: var(--font-secondary);
  font-size: 1rem;
  width: 100%;
}
.p-campo input:focus {
  background-color: none;
  outline: none;
  box-shadow: none;
  border: 2px solid var(--color-primary);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    box-shadow: 0 0 0 1000px white inset !important;
    background-color: white !important;
    transition: background-color 5000s ease-in-out 0s; /* hack necessario */
}
.p-continue {
    width: 60%;
    display: flex;    
    padding-block: 10px;
    background-color: var(--background-primary);

}
.p-continue button {
    border: none;
    background-color: transparent;
    width: 100%;
    color: var(--color-secondary);
    cursor: pointer;
}